// FoxImg resources - IDs must match src\foximg.inc
#define IDR_MAINMENU    1
#define IDR_ACCEL       1
#define IDM_NEW         100
#define IDM_OPEN        101
#define IDM_EXIT        102
#define IDM_SAVE        103
#define IDM_SAVEAS      104
#define IDM_ADDFILES    110
#define IDM_NEWFOLDER   111
#define IDM_NEWFILE     112
#define IDM_RENAME      113
#define IDM_DELETE      114
#define IDM_EXTRACT     115
#define IDM_EXTRACTALL  116
#define IDM_PREVIEW     120
#define IDM_BOOT_BIOS   130
#define IDM_BOOT_EFI    131
#define IDM_BOOT_CLEAR  132
#define IDM_ABOUT       201

#define IDI_APP         1
#define RT_MANIFEST     24

1 RT_MANIFEST "foximg.manifest"
IDI_APP ICON "foximg.ico"

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New Image\tCtrl+N", IDM_NEW
        MENUITEM "&Open Image...\tCtrl+O", IDM_OPEN
        MENUITEM SEPARATOR
        MENUITEM "&Save\tCtrl+S", IDM_SAVE
        MENUITEM "Save &As / Convert...\tCtrl+Shift+S", IDM_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Add Files...\tIns", IDM_ADDFILES
        MENUITEM "New &Folder\tCtrl+Shift+N", IDM_NEWFOLDER
        MENUITEM "New F&ile", IDM_NEWFILE
        MENUITEM SEPARATOR
        MENUITEM "&Rename\tF2", IDM_RENAME
        MENUITEM "&Delete\tDel", IDM_DELETE
        MENUITEM SEPARATOR
        MENUITEM "&Extract Selected...", IDM_EXTRACT
        MENUITEM "Extract A&ll...", IDM_EXTRACTALL
    END
    POPUP "&Boot"
    BEGIN
        MENUITEM "Use Selected File as &BIOS Boot Image", IDM_BOOT_BIOS
        MENUITEM "Use Selected File as &UEFI Boot Image", IDM_BOOT_EFI
        MENUITEM SEPARATOR
        MENUITEM "&Remove All Boot Entries", IDM_BOOT_CLEAR
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Preview Pane\tCtrl+P", IDM_PREVIEW
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About FoxImg...", IDM_ABOUT
    END
END

IDR_ACCEL ACCELERATORS
BEGIN
    "N", IDM_NEW, VIRTKEY, CONTROL
    "O", IDM_OPEN, VIRTKEY, CONTROL
    "S", IDM_SAVE, VIRTKEY, CONTROL
    "S", IDM_SAVEAS, VIRTKEY, CONTROL, SHIFT
    "N", IDM_NEWFOLDER, VIRTKEY, CONTROL, SHIFT
    "P", IDM_PREVIEW, VIRTKEY, CONTROL
    0x2D, IDM_ADDFILES, VIRTKEY         // VK_INSERT
END

1 VERSIONINFO
FILEVERSION     1,2,0,0
PRODUCTVERSION  1,2,0,0
FILEOS          0x40004L
FILETYPE        0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription",  "FoxImg disc image utility"
            VALUE "FileVersion",      "1.2.0.0"
            VALUE "InternalName",     "FoxImg"
            VALUE "OriginalFilename", "FoxImg.exe"
            VALUE "ProductName",      "FoxImg"
            VALUE "ProductVersion",   "1.2.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
